<div>
    <img src="images/home/img01.jpg" alt="avion">
</div>
<div class="columnas">
    <section class="bienvenidos">
        <h2>Bienvenidos</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil, hic maxime? Minima laborum dignissimos nulla
            consequuntur quia saepe hic, voluptatem neque inventore repellat ab omnis vero earum optio fugit eveniet?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero aliquid eligendi voluptatem optio. Quaerat
            cumque, tempora aliquid nulla facilis iure placeat deleniti sit itaque earum exercitationem quos culpa
            adipisci animi.</p>
    </section>
    <section class="testimonios">
        <h2>Testimonios</h2>
        <div class="testimonio">
            <span class="cita">Simplemente Excelente</span>
            <span class="autor">Juan Gomez - zapatos.com</span>

        </div>
    </section>
</div>