<section class="historia">
    <h2>Historia</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas natus dolores quaerat culpa. Vitae sit, nesciunt
        iusto sapiente quasi eius et aliquid numquam vero laboriosam saepe dicta mollitia doloremque! Quisquam. Lorem,
        ipsum dolor sit amet consectetur adipisicing elit. Ipsam magni, soluta molestias officia, eaque nam omnis quidem
        molestiae voluptatem reiciendis vel quibusdam iusto eum ipsum cumque inventore quaerat fuga amet. Lorem ipsum
        dolor sit amet consectetur adipisicing elit. Pariatur quibusdam consectetur eum molestiae, quaerat ut voluptas.
        Vitae porro accusamus velit, laborum accusantium repellendus deleniti, dolores quos sed expedita suscipit
        necessitatibus.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam iusto fugiat recusandae, aliquid aperiam
        similique facilis dolorem. Quasi quisquam sunt suscipit excepturi nulla ipsum voluptas doloribus repellat
        voluptate obcaecati! Assumenda? Lorem ipsum, dolor sit amet consectetur adipisicing elit. Unde, tempore. Nemo
        quae, rerum repellendus laboriosam voluptatibus id eligendi labore voluptate impedit minus quo laborum corrupti
        amet porro commodi magnam! Est.</p>
</section>
<section class="staff">
    <h2>Staff</h2>
    <div class="personas">
        <div class="persona">
            <img src="images/nosotros/nosotros1.jpg" alt="Juan Gomez">
            <h5>Juan Gomez</h5>
            <h6>Gerente General</h6>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolor, optio placeat quibusdam itaque nemo, est
                magnam vero corrupti a animi voluptatibus dolorem voluptate ex quam magni id. Mollitia, maxime quas!
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magnam optio saepe consequuntur iusto
                voluptatibus cupiditate, aperiam quos exercitationem. In ullam obcaecati reprehenderit, rem facere
                tempora! Commodi quas ut omnis quia!</p>
        </div>
        <div class="persona">
            <img src="images/nosotros/nosotros2.jpg" alt="Juan Gomez">
            <h5>Diana Reyes</h5>
            <h6>Gerente Comercial</h6>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolor, optio placeat quibusdam itaque nemo, est
                magnam vero corrupti a animi voluptatibus dolorem voluptate ex quam magni id. Mollitia, maxime quas!
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magnam optio saepe consequuntur iusto
                voluptatibus cupiditate, aperiam quos exercitationem. In ullam obcaecati reprehenderit, rem facere
                tempora! Commodi quas ut omnis quia!</p>
        </div>
        <div class="persona">
            <img src="images/nosotros/nosotros3.jpg" alt="Juan Gomez">
            <h5>Roberto</h5>
            <h6>Gerente General</h6>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolor, optio placeat quibusdam itaque nemo, est
                magnam vero corrupti a animi voluptatibus dolorem voluptate ex quam magni id. Mollitia, maxime quas!
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
        </div>
        <div class="persona">
            <img src="images/nosotros/nosotros4.jpg" alt="Juan Gomez">
            <h5>Ximena Gomez</h5>
            <h6>Gerente General</h6>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolor, optio placeat quibusdam itaque nemo, est
                magnam vero corrupti a animi voluptatibus dolorem voluptate ex quam magni id. Mollitia, maxime quas!
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magnam optio saepe consequuntur iusto
                voluptatibus cupiditate, aperiam quos exercitationem. In ullam obcaecati reprehenderit, rem facere
                tempora! Commodi quas ut omnis quia!</p>
        </div>
        <div class="persona">
            <img src="images/nosotros/nosotros5.jpg" alt="Juan Gomez">
            <h5>Juan Gomez</h5>
            <h6>Gerente General</h6>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolor, optio placeat quibusdam itaque nemo, est
                magnam vero corrupti a animi voluptatibus dolorem voluptate ex quam magni id. Mollitia, maxime quas!
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magnam optio saepe consequuntur iusto
                voluptatibus cupiditate, aperiam quos exercitationem. In ullam obcaecati reprehenderit, rem facere
                tempora! Commodi quas ut omnis quia!</p>
        </div>
    </div>
</section>